<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/cgit.css" type="text/css" />
    {% block extra_head %}
    {% endblock %}
	<title>{% block title %} {{ project.name }} - {{ project.desc }}{% endblock %}</title>
</head>
    <body>
	    <div id="cgit">
		    {% block nav %}
		    {% endblock %}
		    <div class="content">
			    {% block content %}
			    {% endblock %}
		    </div> <!-- class=content -->
	    <div class='footer'>generated  by cgit v0.9.0.3-76-g687d at 2013-01-15 07:56:57 (GMT)</div>
	    </div>
    </body>
</html>
